<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andym.psicotecnicostropa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main_splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_preguntas"></activity>
        <activity android:name=".main_preguntasFatiga"></activity>
        <activity android:name=".main_optTipo"></activity>
        <activity android:name=".main_optTipoFatiga"></activity>
        <activity android:name=".main_principal"></activity>
        <activity android:name=".main_examen"></activity>
        <activity
            android:name=".main_resultado_exam"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".main_contacto"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".main_calculabaremo"></activity>
        <activity android:name=".main_preguntasAleatorio"></activity>
        <activity android:name=".main_info"></activity>
        <activity android:name=".main_evolucion"></activity>
    </application>

</manifest>